@model EntityLayer.Concrete.Skill
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Yetenek Güncelleme</h2>
<br />
@using (Html.BeginForm("Update", "Skills", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.SkillId)
        @Html.Label("Yetenek Adı")
        @Html.TextBoxFor(x => x.SkillName, new { @class = "form-control" })
        <br />
        @Html.Label("Yetenek Yüzdesi")
        @Html.TextBoxFor(x => x.SkillPercent, new { @class = "form-control" })
        <br />
        @Html.Label("Yetenek Oranı")
        @Html.TextBoxFor(x => x.SkillValue, new { @class = "form-control" })
        <br />
        <button class="btn btn-primary">Güncelle</button>
        <a href="/Skills/Index" class="btn btn-warning">Geri Dön</a>
    </div>
}
