@using EntityLayer.Concrete
@model List<Heading>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{ string color = "";
    string status = "";
    string statusColor = "";
}


<!doctype html>
<html>

<body class="hold-transition sidebar-mini">

    <!-- content wrapper. contains page content -->
    <!-- content header (page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>

            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- main content -->
    <section class="content">

        <!-- default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Başlık İşlemleri</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 1%">
                                #
                            </th>
                            <th style="width: 20%">
                                Başlık Adı
                            </th>
                            <th style="width: 15%">
                                Oluşturan Yazar
                            </th>
                            <th style="width: 10%">
                                Durum
                            </th>
                            <th style="width: 8%" class="text-center">
                                Kategori
                            </th>
                            <th style="width: 20%">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.Category.CategoryName == "Tiyat")
                            {
                                color = "badge badge-warning";
                            }
                            if (item.Category.CategoryName == "Dizi")
                            {
                                color = "badge badge-success";
                            }
                            if (item.Category.CategoryName == "Yazılım")
                            {
                                color = "badge badge-info";
                            }
                            if (item.Category.CategoryName == "Film")
                            {
                                color = "badge badge-secondary";
                            }
                            if (item.Category.CategoryName == "Kitap")
                            {
                                color = "badge badge-danger";
                            }
                            if (item.Category.CategoryName == "Eğlence")
                            {
                                color = "badge badge-dark";
                            }
                            <tr>
                                <td>
                                    @item.HeadingID
                                </td>
                                <td>
                                    <a>
                                        @item.HeadingName
                                    </a>
                                    <br />
                                    <small>
                                        @(((DateTime)item.HeadingDate).ToString("dd-MMM-yyyy"))
                                    </small>
                                </td>
                                <td>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <img alt="avatar" class="table-avatar" src="@item.Writer.WriterImage">
                                        </li>
                                    </ul>
                                </td>
                                <td>

                                    @switch (item.HeadingStatus)
                                    {
                                        case true:
                                            statusColor = "badge badge-success";
                                            status = "Aktif";
                                            break;
                                        case false:
                                            statusColor = "badge badge-danger";
                                            status = "Pasif";
                                            break;
                                    }

                                <td>
                                    <span class="@statusColor">@status</span>
                                </td>


                                <td class="project-state">
                                    <span class="@color">@item.Category.CategoryName</span>
                                </td>
                                <td class="project-actions text-right">
                                    <a class="btn btn-primary btn-sm" href="/Content/ContentByHeading/@item.HeadingID">
                                        <i class="fas fa-folder">
                                        </i>
                                        Yazılar
                                    </a>
                                    <a class="btn btn-info btn-sm" href="/Heading/EditHeading/@item.HeadingID">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Düzenle
                                    </a>
                                    <a class="btn btn-danger btn-sm" href="/Heading/DeleteHeading/@item.HeadingID">
                                        <i class="fas fa-trash">
                                        </i>
                                        Sil
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>
</html>
<a href="/Heading/AddHeading/" class="btn btn-primary">Yeni Başlık Girişi</a>
